.app {
  /* text-align: center; */
}

.app-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #282c34;
  color: white;
}

.app-header .container {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
}

.app-header .banner {
  display: flex;
  height: 60px;
  margin-left: 5rem;
}

.app-header .logo {
  width: 60px;
}

.logo-name {
  font-size: 40px;
  font-weight: 650;
  text-decoration: none;  
}

.app-header .explanation-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 200;
  font-size: 16px;
  color: #ffffff;
}

.app-header a {
  color: #ffffff;
}

.app-header .nav {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 5rem;
  padding-top: .45rem;
}

.nav-item {
  margin: 0 20px;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
}

.app-link {
  color: #61dafb;
}

@media (max-width: 700px) {
  .stonks-container {
    margin-top: 100px;
    display: grid;
    grid-template-areas: 
      'stonk';
  }
}

@media (min-width: 701px) {
  .stonks-container {
    margin: 100px 40px 0 70px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-column-gap: 10px;
    row-gap: 25px;
  }
}

.stonk-skeleton {
  margin-left: 45px;
}

.stonk-card {
  transition: 0.3s;
  border-radius: 10px;
  grid-area: stonk;
  background-color: #ffffff;
}

.stonk-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.stonk-card--backside {
  height: 120%;
  border-radius: 10px;
}

.stonk-attribute {
  text-align: left;
  margin-left: 1em;
}

.stonk-attribute__top {
  margin-top: 10px;
}

.stonk-attribute__bottom {
  margin-bottom: 1em;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.gain {
  color: green;
}

.loss {
  color: red;
}

.add-stonks {
  margin: 100px 0 0 70px;
  display: grid;
  grid-template-columns: 50% 30%;
  border: hsl(0,0%,80%) solid 1px;
  border-radius: 10px;
  width: 50%;

}

.add-stonk-form {
  padding: 20px;
}

.add-stonk-heading {
  color: #282c34;
  font-size: 30px;
}

.typeahead {
  margin-bottom: 1rem;
  width: 400px;
}

.input-label {
  display: block;
  margin-bottom: 1rem;
}

.textbox {
  display: block;
  width: 200px;
  padding: .375rem .75rem;
  margin-bottom: 1rem;
  min-height: 22px;
  font-size: 1rem;
  border: hsl(0,0%,80%) solid 1px;  
  border-radius: 4px;
}

.textbox:focus {
  background-color: white;
}

/* This is because Chrome autofill makes the inputs an odd color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.metrics-section {
  padding: 20px;
}

.metrics-heading {
  margin: 0 0 1rem 0;
}

.metrics-section--metrics {
  margin-bottom: 1rem;
  width: 300px;
}

.metrics-section--metric {
  margin: .2rem 0;
  font-size: 20px;
}

.metrics-heading--symbol {
  margin-bottom: 0;
}

.metrics-heading--price {
  margin: 0 0 1rem 0;
  font-size: 35px;
}

.form-button {
  width: 150px;
  height: 50px;
  background-color: #85BF31;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  box-shadow: none;
  border-radius: 3px;
}

.form-button:hover {
  background-color: rgb(106, 155, 37);
}

.form-button:focus {
  outline-style: none;
}

.form-button__hidden {
  display: none;
}
