.app {
  /* text-align: center; */
}

.app-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #282c34;
  color: white;
}

.app-header .container {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
}

.app-header .banner {
  display: flex;
  height: 60px;
}

.app-header .logo {
  width: 60px;
}

.logo-name {
  font-size: 40px;
  font-weight: 650;
  text-decoration: none;
}

.app-header .explanation-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 200;
  font-size: 16px;
  color: #ffffff;
}

.app-header a {
  color: #ffffff;
}

.app-header .nav {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-item {
  margin: 0 20px;
  font-size: 30px;
  font-weight: 300;
}

.app-link {
  color: #61dafb;
}

@media (max-width: 700px) {
  .stonks-container {
    margin-top: 100px;
    display: grid;
    grid-template-areas: 
      'stonk';
  }
}

@media (min-width: 701px) {
  .stonks-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-column-gap: 10px;
  }
}

.stonk-card {
  transition: 0.3s;
  border-radius: 10px;
  grid-area: stonk;
  background-color: #ffffff;
}

.stonk-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.stonk-card--backside {
  height: 120%;
  border-radius: 10px;
}

.stonk-attribute {
  text-align: left;
  margin-left: 1em;
}

.stonk-attribute__top {
  margin-top: 10px;
}

.stonk-attribute__bottom {
  margin-bottom: 1em;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.gain {
  color: green;
}

.loss {
  color: red;
}

.add-stonks {
  display: grid;
  grid-template-columns: 50% 50%;
}

.add-stonk-form {
  border: grey solid 1px;
}

.input-label {
  display: inline-block;
  margin-bottom: 5rem;
}

.textbox {
  width: 200px;
  padding: .375rem .75rem;
  font-size: 1rem;
  border: grey solid 1px;
  border-radius: 4px;
}

.metrics {
  margin: 60px 20px;
}
